[access]
	inheritFrom = All-Projects
[project]
	description = test description
[access "refs/*"]
	owner = group user/sokpanyasam
[access "refs/for/refs/*"]
	read = group user/sokpanyasam
	push = group user/sokpanyasam
	label-Code-Review = -2..+2 group user/sokpanyasam
	label-Verified = -1..+1 group user/sokpanyasam
	rebase = group user/sokpanyasam
	removeReviewer = group user/sokpanyasam
	submit = group user/sokpanyasam
[access "refs/heads/*"]
	read = group user/sokpanyasam
	create = group user/sokpanyasam
	push = +force group user/sokpanyasam
	pushMerge = group user/sokpanyasam
[access "refs/tags/*"]
	push = group user/sokpanyasam
	push = +force group user/sokpanyasam
